.modul-component-page__title.modul-component-page__title {
    .m-text-field {
        &__input {
            font-size: 38px;
            font-weight: 600;
            margin: 0;
            color: $modul-color--grey--darker;
            border-bottom-width: 3px;

            &-line {
                height: 3px;
            }

            &__default-text {
                opacity: 1 !important;
                color: $modul-color--grey--darker;
            }
        }
    }
}
