@charset 'utf-8';

// ======================================================================
//  Variables
// ======================================================================

// https://github.com/webpack-contrib/sass-loader#imports
@import
    '~@ulaval/modul-components/dist/styles/abstracts/variables',
    '~@ulaval/modul-components/dist/styles/abstracts/var-color-calendar',
    '~@ulaval/modul-components/dist/styles/abstracts/mixins';
// local import
@import
    'abstracts/mixins',
    'abstracts/variables';

// ======================================================================
//  HTML overide
// ======================================================================
@import 'scoped-override';

// ======================================================================
//  vendor / plugins
// ======================================================================
@import 'vendor/hljs';

// ======================================================================
//  Base
// ======================================================================

@import
    '~@ulaval/modul-components/dist/styles/base/fonts',
    '~@ulaval/modul-components/dist/styles/base/base',
    '~@ulaval/modul-components/dist/styles/base/typography',
    '~@ulaval/modul-components/dist/styles/base/layout',
    '~@ulaval/modul-components/dist/styles/base/animations',
    '~@ulaval/modul-components/dist/styles/utils/utils';
@import
    'base/base',
    'base/typography',
    'base/animations',
    'base/navbar',
    'base/dropdown',
    'base/preview-img';

// ======================================================================
//  Layout
// ======================================================================
@import
    'layout/header',
    'layout/body',
    'layout/footer',
    'layout/menu';

// ======================================================================
//  Pages
// ======================================================================
@import 'pages/shared-components-styles';

// ======================================================================
//  global components
// ======================================================================
@import
    'components/category-list',
    'components/light-template',
    'components/dark-template',
    'components/componant-details';
