@charset 'utf-8';

// ======================================================================
//  Variables
// ======================================================================

// https://github.com/webpack-contrib/sass-loader#imports
@import '~@ulaval/modul-components/dist/styles/abstracts/variables';
// local import
@import 'abstracts/variables';

// ======================================================================
//  HTML overide
// ======================================================================

// ======================================================================
//  Base
// ======================================================================

@import '~@ulaval/modul-components/dist/styles/base/base';
@import 'base/base';
@import 'base/typography';
@import 'base/animations';

// ======================================================================
//  Layout
// ======================================================================
@import 'layout/header';
@import 'layout/body';
@import 'layout/footer';
@import 'layout/menu';

// ======================================================================
//  Pages
// ======================================================================
@import 'pages/home';
@import 'pages/component';

// ======================================================================
//  Pages
// ======================================================================
@import 'components/card';
