//
// -----------------------------------------------------------------------------
// This file contains styles that are specific to the component page.
// -----------------------------------------------------------------------------
$modul-component-page--header-height: calc(50vh - #{$modul-header--height});
$modul-component-page--header-min-height: 250px;

.modul-component-page {
    width: 100%;
    margin: 0 auto;
    max-width: $m-max-width - $m-padding--xl;
    padding: 0 $m-padding--l $m-padding--l*2 $m-padding--l;

    &::before {
        content: '';
        display: block;
        height: $modul-component-page--header-height;
        min-height: $modul-component-page--header-min-height;
    }

    &__arrow-left,
    &__arrow-right {
        position: fixed;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        height: 100%;

        .m-button.m-button.m-button {
            width: $m-padding--l;
            height: 64px;
            font-size: 14px;
            stroke-width: 2px;
            border-radius: 0;
            padding: 0;
            transform-origin: 50%;

            .m-u--visually-hidden {
                position: absolute;
            }

            .m-icon {
                transition: 0.45s transform ease;
            }
        }
    }

    &__arrow-left {
        left: 0;

        .m-button {
            &:hover {
                .m-icon {
                    transform: rotate(-360deg);
                }
            }
        }
    }

    &__arrow-right {
        right: 0;

        .m-button {
            &:hover {
                .m-icon {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.modul-component-page__header {
    &__wrap {
        position: fixed;
        top: $modul-header--height;
        right: 0;
        bottom: 0;
        left: 0;
        min-width: $m-min-width;
        z-index: 0;
        width: 100%;
        max-width: $m-max-width;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $modul-component-page--header-height;
        min-height: $modul-component-page--header-min-height;
    }
}

.modul-component-page__title.modul-component-page__title {
    .m-text-field__input {
        font-size: 38px;
        font-weight: 600;
        border-bottom: 3px solid $modul-color--grey--darker;
        margin: 0;
        color: $modul-color--grey--darker;
    }

    .m-text-field__input-line {
        height: 3px;
    }

    .m-text-field__input {
        background: transparent;
        height: auto;
    }
}

.modul-component-page__body {
    position: relative;
    z-index: 3;
    background-color: $modul-body;
}

//////////////////////////////////////////////////////////////////
.modul-component {
    background-color: $m-color--white;
    position: relative;
    z-index: 3;
    box-shadow: $m-box-shadow;
    min-height: 750px;
}

.modul-component__header {
    background-color: $modul-color--grey--darker;
    padding: 19px $m-padding;
}

.modul-component__preview {
    padding: $m-padding--l $m-padding--l;
}

.modul-component__back {
    &.m-link.m-link {
        position: fixed !important;
        top: $modul-header--height;
        left: 0;
        z-index: 2;
        margin-top: $m-padding;
        margin-left: $m-padding--l;
    }
}

.modul-component__nav {
    border-top: 4px solid $m-color--ul-yellow;
    border-bottom: 1px solid $modul-color--grey;
    display: flex;
    align-items: center;
}

.modul-component__link {
    transition: color #{$modul-CSS_ANIMATION_HEADER_DURATION} ease;
    display: block;
    padding: 20px;
    font-weight: $m-font-weight--black;
    font-size: $m-font-size--s;
    text-transform: uppercase;
    text-decoration: none;

    &,
    &:visited {
        color: $modul-color--fadded-dark-grey;
    }

    &:hover,
    &:focus,
    .router-link-active {
        color: $modul-color--grey--darker;
    }
}

.modul-component__title {
    color: $m-color--white;
    margin: 0;
    display: flex;
    align-items: center;
}

.modul-component__body {
    padding: $m-padding--l;

    > :first-child {
        &,
        > :first-child {
            margin-top: 0;
        }
    }
}

