.modul-home {
    width: 100%;
}

.modul-experiment {
    padding: $m-padding--l $m-padding--l $m-padding--xl $m-padding--l;
    width: 100%;
    min-height: calc(100vh - #{$modul-header--height});
    display: flex;
    align-content: center;
    background-color: $modul-color--grey--dark;
    background-image: url(/assets/grid.svg), linear-gradient(to bottom, rgba($modul-color--grey--dark, 1) 35%, rgba($modul-color--grey--darker, 1) 100%);
    z-index: 1;
    position: fixed;
}

.modul-experiment__body {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    margin: 0 auto;
}

.modul-experiment__title {
    margin: 0;
}

.modul-experiment__pixel {
    color: $modul-color--yellow;
    text-align: center;
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: lowercase;
    position: relative;
    border-left: 1px solid $modul-color--yellow;
    border-right: 1px solid $modul-color--yellow;

    span {
        flex: 0;
        padding: 0 8px;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        background-color: $modul-color--yellow;
        height: 1px;
        z-index: 1;
        flex: 1;
    }
}

.modul-experiment__title {
    color: $m-color--white;
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 5px;
    display: block;
}

.modul-experiment__subtitle {
    color: $modul-color--grey--dark;
    background-color: $modul-color--yellow;
    font-weight: $m-font-weight--black;
    font-size: 60px;
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    min-width: 270px;
}

.modul-experiment__content {
    width: calc(100% - 310px);
    padding: 32px;
    margin-left: 40px;
    border: 2px dashed $modul-color--yellow;
    color: $m-color--white;

    h3 {
        color: $m-color--white;
        margin-top: 0;
        font-size: 20px;
        line-height: 1.4;
    }
}

.modul-experiment__footer {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
    flex-direction: column;
}

.modul-experiment__chevrons {
    font-size: 40px;
    color: $m-color--ul-blue;
}

.modul-experiment__chevron.modul-experiment__chevron.modul-experiment__chevron {
    display: block;
    margin: 0 auto;

    &:first-child {
        font-size: 20px;
        margin-bottom: -10px;
        opacity: 0.5;
    }

    &:nth-child(2) {
        font-size: 30px;
        margin-bottom: -20px;
        opacity: 0.7;
    }
}

/////////////////

.modul-design {
    position: relative;
    z-index: 2;
    margin-top: 150vh;
}

.modul-design__header {
    background-color: $modul-color--grey--dark;
    background-image: linear-gradient(to bottom, rgba($modul-color--grey--darker, 1) 0%, rgba($modul-color--grey--dark, 1) 30%);
    padding: $m-padding--xl $m-padding--l;
    display: flex;
    color: $m-color--white;
    position: relative;

    > div {
        flex: 1;
    }
}

.modul-design__title {
    color: $m-color--white;
}


// template
.modul-design__template {
    margin: 0 $m-padding--xl 0 $m-padding--l;

    header,
    footer {
        background-color: rgba($modul-color--yellow, 0.3);
        border: 1px solid $modul-color--yellow;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header {
        height: 60px;
        padding: 16px;
    }

    footer {
        height: 30px;
    }

    a {
        display: inline-block;
        background-color: $modul-color--yellow;
        border-radius: 4px;
        width: 70px;
        height: 12px;
        margin: 0 4px;
    }

    .modul-design__template__content,
    aside {
        background-color: rgba($m-color--white, 0.2);
        border: 1px solid $modul-color--yellow;
        border-radius: 4px;
        padding: 10px;
        margin: 10px 0;
        height: 200px;
    }

    aside {
        flex: 1;
    }
}

.modul-design__template__logo {
    color: $modul-color--yellow;
    font-size: 18px;
}

.modul-design__template__content {
    flex: 2;

    & + aside {
        margin-left: 10px;
    }
}

.modul-design__template__body {
    display: flex;
    justify-content: space-between;
}

//
.modul-design__body {
    background-color: $modul-color--grey;
    padding: $m-padding--xl $m-padding--l;
    display: flex;
    flex-wrap: wrap;

    .m-panel {
        flex: 1 1 calc(50% - #{$m-padding*2});
        margin: $m-padding;
    }
}

// modul-novelty

.modul-novelty {
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: $modul-color--grey--dark;
    padding: 0 $m-padding--l $m-padding--xl;

    &__content {
        color: $m-color--white;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $m-padding--xl;
    }
}

.modul-novelty__title {
    background-color: $modul-color--yellow;
    color: $modul-color--grey--dark;
    text-transform: uppercase;
    font-size: 32px;
    padding: 10px;
    margin: 0;
    display: inline-block;
    font-weight: $m-font-weight--black;
    margin-top: -30px;
    margin-bottom: $m-padding;
}
