<div class="modul-home">
    <section class="modul-experiment">
        <div class="modul-experiment__body">
            <h2 class="modul-experiment__titles">
                <m-i18n class="modul-experiment__title" i18n-key="modul:unified-experience-title-a"></m-i18n>
                <m-i18n class="modul-experiment__subtitle" i18n-key="modul:unified-experience-title-b"></m-i18n>
                <span class="modul-experiment__pixel">
                <span>270px</span>
                </span>
            </h2>
            <div class="modul-experiment__content">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nesciunt illo consectetur eveniet. Tempore
                    laborum atque natus id neque optio ipsum! Molestiae sequi aspernatur, nihil voluptatum explicabo maiores.
                    Vel, eveniet!</p>
            </div>
        </div>

        <div class="modul-experiment__footer">
            <div class="modul-experiment__chevrons">
                <m-icon class="modul-experiment__chevron" name="down-chevron"></m-icon>
                <m-icon class="modul-experiment__chevron" name="down-chevron"></m-icon>
                <m-icon class="modul-experiment__chevron" name="down-chevron"></m-icon>
            </div>
            <m-button class="modul-experiment__button">Design adaptatif</m-button>
        </div>
    </section>
    <section class="modul-design">
        <header class="modul-design__header">
            <div class="modul-design__template-container">
                <div class="modul-design__template">
                    <header>
                        <m-icon class="modul-design__template__logo" name="heraldry"></m-icon>
                        <nav>
                            <a></a>
                            <a></a>
                            <a></a>
                        </nav>
                    </header>
                    <div class="modul-design__template__body">
                        <div class="modul-design__template__content"></div>
                        <aside></aside>
                    </div>
                    <footer></footer>
                </div>
            </div>
            <div class="modul-design__content">
                <h3 class="modul-u--highlighted-title">Design adaptatif</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga dolore facere accusamus rerum non, quis, id quasi aut reprehenderit,
                    dignissimos perferendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, optio accusantium!
                    Dolores velit error libero ipsam quae, deserunt tenetur, officiis molestias sint praesentium nihil, rerum
                    ipsum nesciunt reiciendis adipisci unde?
                </p>
            </div>
        </header>
        <div class="modul-design__body">
            <m-panel>
                <h3>Normes graphiques</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, repellendus maiores. Aliquam debitis
                    voluptatibus quis itaque quasi recusandae, cupiditate, assumenda laborum at odit sunt natus ut dolor
                    explicabo laudantium dolorem.</p>
            </m-panel>
            <m-panel>
                <h3>Normes graphiques</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, repellendus maiores. Aliquam debitis
                    voluptatibus quis itaque quasi recusandae, cupiditate, assumenda laborum at odit sunt natus ut dolor
                    explicabo laudantium dolorem.</p>
            </m-panel>
            <m-panel>
                <h3>Normes graphiques</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, repellendus maiores. Aliquam debitis
                    voluptatibus quis itaque quasi recusandae, cupiditate, assumenda laborum at odit sunt natus ut dolor
                    explicabo laudantium dolorem.</p>
            </m-panel>
            <m-panel>
                <h3>Normes graphiques</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, repellendus maiores. Aliquam debitis
                    voluptatibus quis itaque quasi recusandae, cupiditate, assumenda laborum at odit sunt natus ut dolor
                    explicabo laudantium dolorem.</p>
            </m-panel>

        </div>
    </section>
    <section class="modul-novelty">

        <h3 class="modul-novelty__title">
            <span>Nouveautés</span>
        </h3>

        <p class="modul-novelty__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quod, sint, quae dolorem expedita harum nostrum animi
            et blanditiis omnis amet ratione consequuntur itaque possimus sunt. Modi vel sunt distinctio.</p>
        <div class="modul-novelty__carousel">
            <m-panel>
                <h4>Carousel à venir</h4>
                <span class="modul-novelty__content"></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, repellendus maiores. Aliquam debitis
                    voluptatibus quis itaque quasi recusandae, cupiditate, assumenda laborum at odit sunt natus ut dolor
                    explicabo laudantium dolorem.</p>
            </m-panel>
        </div>
    </section>
</div>