<section class="modul-light-template">
    <header class="modul-light-template__header" :style="{'zIndex' : zIndex}">
        <span class="modul-light-template__header__back-link" v-if="hasBacklinkSlot"><slot name="backlink"></slot></span>
        <div class="modul-light-template__header__title" v-if="hasHeaderSlot">
            <slot name="header"></slot>
        </div>
    </header>
    <section class="modul-light-template__body">
        <div class="modul-light-template__body__arrow-left" v-if="hasLeftArrowSlot">
            <slot name="leftArrow"></slot>
        </div>
        <div class="modul-light-template__body__arrow-right" v-if="hasRightArrowSlot">
            <slot name="rightArrow"></slot>
        </div>
        <div class="modul-light-template__body__container" v-if="hasDefaultSlot"></div>
            <slot></slot>
        </div>
    </section>
</section>