{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "indentation": 4,
        "scss/dollar-variable-pattern": "^modul-",
        "scss/selector-no-redundant-nesting-selector": true
    }
}
