
$modul-color--grey--darker: #1f3139;
$modul-color--grey--dark: #2c3d44;
$modul-color--grey: #d8dbdd;
$modul-color--grey--light: #f7f8f8;
$modul-color--yellow: #ffbe3a;
$modul-color--fadded-grey: rgba($modul-color--grey, 0.7);
$modul-color--fadded-dark-grey: rgba($modul-color--grey--dark, 0.7);
$modul-body: $modul-color--grey;

// layout
$modul-header--height: 70px;
$modul-footer--height: 120px;
//
$modul-border-radius: 4px;

// animation constant shared with js in modul.ts
$modul-CSS_ANIMATION_HEADER_DURATION: 0.3s;
$modul-CSS_ANIMATION_MENU_DURATION: 0.8s;
