.modul-body-container {
    height: 100%;

    @include m-is-ie() {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

.modul-body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-top: $modul-header--height;
    height: 100%;

    @include m-is-ie() {
        min-height: 100vh;
    }
}

.modul-page {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
}
