.modul-body {
    position: relative;
    z-index: 2;
    min-height: calc(100vh - #{$modul-footer--height + $modul-header--height*2}); // header + footer + margin
    padding: $m-padding--l $m-padding--l $m-padding--l*2 $m-padding--l;
    margin-bottom: $modul-header--height;
}

.modul-page {
    max-width: $m-max-width;
    margin: 0 auto;
}
