.modul-body {
    position: relative;
    z-index: 2;
    flex: 1 1 auto;

    .modul:not(.modul--black-template) & {
        padding: $m-padding--l $m-padding--l $m-padding--l*2 $m-padding--l;
    }
}

.modul-page {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    max-width: 100%;

    // .modul:not(.modul--at-home) & {
    //     max-width: $m-max-width;
    //     margin: 0 auto;
    // }
}
