// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.modul {
    &.modul--is-black-template {
        .modul-footer__version {
            background-color: $modul-color--black-grey;
            color: $modul-color--grey;
        }
    }
}

.modul-footer {
    position: relative;
    z-index: 3;
    background-color: $modul-color--grey;
}

.modul-footer__body {
    height: $modul-header--height;
    background-color: $m-color--white;
    border-top: $m-border-width--s solid $m-color--grey;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 $m-padding--l;
}

.modul-footer__link {
    &,
    &:visited {
        color: $modul-color--black-grey;
        text-decoration: none;
    }
}

.modul-footer__version {
    padding: $m-padding--s $m-padding;
    text-align: center;

    &,
    .modul-logo {
        font-size: $m-font-size--s;
    }
}
