// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.modul {
    &.modul--is-menu-open,
    &.modul--is-black-template {
        .modul-header {
            background: $modul-color--black-grey-dark;

            &__link {
                &,
                &:visited {
                    color: $modul-color--grey-dark;
                }

                &:hover,
                &:focus,
                &.router-link-active {
                    color: $m-color--white;
                }

                &.router-link-active::after {
                    background-color: $m-color--active;
                }

                &:hover::after {
                    background-color: $m-color--white;
                }
            }
        }

        .modul-logo {
            &,
            a,
            a:visited,
            b {
                color: $m-color--white;
            }
        }
    }

    &:not(.modul--is-menu-open):not(.modul--is-black-template) {
        .modul-header {
            box-shadow: $m-box-shadow--s;
        }
    }
}

.modul-header {
    // menu opening animation
    transition: background-color #{$modul-CSS_ANIMATION_HEADER_DURATION} ease;
    width: 100%;
    height: $modul-header--height--s;
    background: $m-color--white;
    display: flex;
    align-content: space-between;
    align-items: center;
    padding-left: $m-padding;

    @media (min-width: $m-mq--min--xs) {
        height: $modul-header--height;
    }

    @media (min-width: $m-mq--min--s) {
        padding-left: $m-padding--l;
    }
}

.modul-header__nav {
    display: flex;
    height: 100%;
    align-content: space-between;
    align-items: center;
    margin-right: $m-padding--l;

    ul {
        display: flex;
        list-style: none;

        li {
            &:not(:last-child) {
                margin-right: $m-margin--l;
            }
        }
    }
}

.modul-header__link {
    font-weight: $m-font-weight--black;
    font-size: $m-font-size--s;
    text-transform: uppercase;
    text-decoration: none;
    transition: color #{$modul-CSS_ANIMATION_HEADER_DURATION} ease;
    outline: none;

    &,
    &:visited {
        color: $modul-color--grey-darker;
    }

    &:hover,
    &:focus,
    &.router-link-active {
        color: $m-color--black;
    }

    &.router-link-active::after {
        background-color: $m-color--active;
    }

    &:hover::after {
        background-color: $m-color--black;
    }
}

.modul-logo {
    font-size: 20px;
    flex: 1;
    user-select: none;
    margin: 0;
    transition: color #{$modul-CSS_ANIMATION_HEADER_DURATION} ease;

    &,
    a,
    a:visited {
        text-decoration: none;
        font-weight: $m-font-weight;
        color: $modul-color--black-grey-dark;
    }

    b {
        font-weight: $m-font-weight--black;
        color: $modul-color--black-grey-dark;
    }
}

// .modul-search-sidebar.modul-search-sidebar {
//     .m-base-window {
//         &__article {
//             bottom: 0;
//         }

//         &__header {
//             display: flex !important;
//             height: $modul-header--height--s;
//             padding-right: $modul-header--height--s !important;
//             flex: 0 0 $modul-header--height--s;
//             font-size: 18px;

//             @media (min-width: $m-mq--min--xs) {
//                 height: $modul-header--height;
//                 padding-right: $modul-header--height !important;
//                 flex: 0 0 $modul-header--height;
//             }

//             &__close-button {
//                 &.m-button.m-button {
//                     transition: background 0.3s ease;
//                     background: $m-color--ul-blue;
//                     border-radius: 0;
//                     height: $modul-header--height--s;
//                     width: $modul-header--height--s;
//                     color: $m-color--white;

//                     @media (min-width: $m-mq--min--xs) {
//                         height: $modul-header--height;
//                         width: $modul-header--height;
//                     }

//                     &:hover {
//                         background: $m-color--interactive-light;
//                     }

//                     &:active,
//                     &:focus {
//                         background: $m-color--interactive-dark;
//                     }

//                     &::after {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
// }
