// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.modul {
    padding-top: $modul-header--height;
}

.modul-header {

    // menu opening animation
    transition: background-color #{$modul-CSS_ANIMATION_HEADER_DURATION} ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    width: 100%;
    height: $modul-header--height;
    background: $m-color--white;
    display: flex;
    align-content: space-between;
    align-items: center;

    .modul:not(.modul--menu-is-open):not(.modul--at-home) & {
        box-shadow: 0 2px 2px 1px rgba($m-color--grey-light, 0.5);
    }

    &__search {
        background-color: $m-color--ul-blue;
        display: flex;
        height: 100%;
        width: 70px;
        justify-content: center;
        align-items: center;
        color: $m-color--white;
    }

    // menu opening animation
    .modul--menu-is-open & {
        background-color: $modul-color--grey--darker;
    }

    .modul--at-home:not(.modul--menu-is-open) & {
        background-color: $modul-color--grey--dark;
    }
}

.modul-header__nav {
    display: flex;
    height: 100%;
    align-content: space-between;
    align-items: center;
    margin-right: $m-padding * 2;

    .modul:not(.modul--at-home) & {
        flex: 1;
    }
}

.modul-header__link {
    &,
    &:visited {
        color: $modul-color--fadded-dark-grey;
    }

    font-weight: $m-font-weight--black;
    font-size: $m-font-size--s;
    text-transform: uppercase;
    text-decoration: none;
    transition: color #{$modul-CSS_ANIMATION_HEADER_DURATION} ease;

    &:not(:last-child) {
        padding-right: $m-padding * 2;
    }

    // square dot
    &::after {
        content: "";
        display: inline-block;
        background-color: $modul-color--fadded-dark-grey;
        width: 4px;
        height: 4px;
        margin-left: 4px;
        transition: background-color #{$modul-CSS_ANIMATION_HEADER_DURATION} ease;
    }

    // modifiers
    &:hover,
    &.router-link-active {
        color: $m-color--black;
    }

    &.router-link-active::after {
        background-color: $m-color--yellow;
    }

    &:hover::after {
        background-color: $m-color--black;
    }

    // when menu is open
    .modul--at-home &,
    .modul--menu-is-open & {
        &,
        &:visited {
            color: $modul-color--fadded-grey;
        }

        // square dot
        &::after {
            background-color: $modul-color--fadded-grey;
        }

        &:hover,
        &.router-link-active {
            color: $m-color--white;
        }

        &.router-link-active::after {
            background-color: $m-color--yellow;
        }

        &:hover::after {
            background-color: $m-color--white;
        }
    }
}

.modul-logo {
    font-size: 20px;
    flex: 1;
    user-select: none;
    margin: 0;
    padding: 0 $m-padding--l;
    transition: color #{$modul-CSS_ANIMATION_HEADER_DURATION} ease;

    &,
    a,
    a:visited {
        color: $modul-color--grey--darker;
        text-decoration: none;
        font-weight: 400;
    }

    b {
        font-weight: 600;
        color: $modul-color--grey--darker;
    }

    &.modul-logo--small {
        font-size: 12px;
    }

    // when menu is open
    .modul--at-home &,
    .modul--menu-is-open & {
        &,
        a,
        a:visited {
            color: $modul-color--grey;
        }

        b {
            color: $m-color--white;
        }
    }
}
