// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
$modul-menu--list-max-width: 300px;

.modul-menu {
    position: fixed;
    top: $modul-header--height;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $modul-color--grey--dark;
    color: $modul-color--grey--light;
    padding: $m-padding--l*2 $m-padding--l $m-padding--l*2 $m-padding--l;
    outline: none;

    &.modul--is- {
        &enter-active {
            transition: transform #{$modul-CSS_ANIMATION_MENU_DURATION} ease;
        }

        &leave-active {
            transition: transform #{$modul-CSS_ANIMATION_MENU_DURATION} ease;
        }

        &leave-active,
        &enter {
            transform: translate3d(0, -100%, 0);
        }
    }

    &__list {
        list-style: none;
        min-width: $modul-menu--list-max-width;
        margin: 0 $m-padding $m-padding--l 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &__title {
        cursor: pointer;
        margin-bottom: $m-margin;
        outline: none;

        &:active {
            outline: none;
        }

        &:hover,
        &:focus {
            &::before {
                width: 64px;
            }
        }

        &::before {
            transition: width 0.3s ease;
        }
    }

    &__link {
        $modul-menu-transition-duration: 0.7s;

        $modul-menu-offset-left: $m-padding--s + 2;

        text-decoration: none;
        display: block;
        padding: $m-padding--s $modul-menu-offset-left $m-padding--s;
        margin-left: -$modul-menu-offset-left;
        border-left: 2px solid transparent;
        transition: background-color #{$modul-menu-transition-duration} ease, border-color #{$modul-menu-transition-duration} ease, margin-left #{$modul-menu-transition-duration} ease;
        position: relative;
        background-color: transparent;
        outline: none;

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba($modul-color--grey--dark, 100%) 100%);
            z-index: 1;
        }

        &:hover,
        &:focus {
            border-left-color: $m-color--white;
            background-color: $modul-color--grey--darker;
            margin-left: 0;

            .modul-menu__label {
                color: $m-color--white;
            }
        }

        span {
            display: block;
            color: rgba($modul-color--grey, 0.7);
            transition: color #{$modul-menu-transition-duration} ease;
            position: relative;
            z-index: 2;
        }
    }

    &__translation {
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
    }
}
