<modul-dark-template>
    <span slot="header">
        <h1>
            <m-i18n k="modul:norms"></m-i18n>
        </h1>
    </span>
    <span slot="preview">
        <p>Aliquip ad eu reprehenderit laborum. Labore exercitation irure non amet qui officia consectetur. Exercitation consectetur
            do enim non ea cillum laborum tempor adipisicing proident dolor dolore. Minim anim fugiat consectetur tempor
            irure mollit veniam magna fugiat. Dolore culpa consectetur sit deserunt est veniam mollit officia mollit ut consequat
            elit laboris.</p>
    </span>
    <span slot="body">
        <m-nav-bar skin="arrow">
            <m-nav-bar-item>Normes graphiques</m-nav-bar-item>
            <m-nav-bar-item>Normes éditoriales</m-nav-bar-item>
            <m-nav-bar-item>Normes de développement</m-nav-bar-item>
        </m-nav-bar>
        <m-accordion></m-accordion>
        <m-accordion></m-accordion>
        <m-accordion></m-accordion>
    </span>
</modul-dark-template>