<div class="modul-home">
    <section class="modul-home-experiment">
        <article class="modul-home-experiment__body">
            <header class="modul-home-experiment__body__header-container" :style="{ top: experimentTitlePosition + 'px'}">
                <h2 class="modul-home-experiment__body__header">
                    <m-i18n class="modul-home-experiment__body__header-title" k="modul:unified-experience-title-a"></m-i18n>
                    <m-i18n class="modul-home-experiment__body__header-subtitle" k="modul:unified-experience-title-b"></m-i18n>
                    <span class="modul-home-experiment__body__header-pixel">
                        <span>270px</span>
                    </span>
                </h2>
            </header>
            <div class="modul-home-experiment__body__content" :style="{ top: experimentContentPosition + 'px'}">
                <p>MODUL offre des composants flexibles au visuel uniforme et aux interactions optimisées peu importe l’appareil
                    utilisé. L’expérience utilisateur est ainsi unifiée à travers l’ensemble des applications l’utilisant.</p>
            </div>

        </article>

        <div class="modul-home-experiment__footer" v-m-scroll-to="[ '#design', 'slow']" :style="{ bottom: designButtonPosition + 'px' }">
            <m-icon class="modul-home-experiment__footer__arrow" name="down-arrow"></m-icon>
            <m-icon class="modul-home-experiment__footer__arrow" name="down-arrow"></m-icon>
            <m-icon class="modul-home-experiment__footer__arrow" name="down-arrow"></m-icon>
            <button class="modul-home-experiment__footer__button m-u--button-primary">Design adaptatif</button>
        </div>
    </section>

    <section id="design" class="modul-home-design" ref="design">
        <article class="modul-home-design__article">
            <section class="modul-home-design__template-container" aria-hidden="true">
                <article class="modul-home-design__template" :style="{ width: designTemplateWidth + 'px' }">
                    <header class="modul-home-design__template__header">
                        <m-icon class="modul-home-design__template__header-logo" name="heraldry"></m-icon>
                        <nav class="modul-home-design__template__header-nav">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </nav>
                    </header>
                    <div class="modul-home-design__template__body">
                        <div class="modul-home-design__template__body-content"></div>
                        <aside class="modul-home-design__template__body-aside"></aside>
                    </div>
                    <footer class="modul-home-design__template__footer"></footer>
                </article>
            </section>
            <section class="modul-home-design__body" ref="designBody">
                <h2 class="modul-u--h2 modul-u--highlighted-title">Design <br>adaptatif</h2>
                <p>Des fonctionnalités et des affichages de contenu adaptés à tout appareil.</p>
            </section>
        </article>
    </section>
    <section class="modul-home-content-container">
        <div class="modul-home-content">
            <m-panel tabindex="0">
                <h2 slot="header" class="modul-u--h2">Normes graphiques</h2>
                <p>Concevoir l’aspect visuel d’une application avec MODUL </p>
            </m-panel>
            <m-panel tabindex="0">
                <h2 slot="header" class="modul-u--h2">Normes éditoriales</h2>
                <p>Rédiger un contenu selon les normes éditoriales de MODUL.</p>
            </m-panel>
            <m-panel tabindex="0">
                <h2 slot="header" class="modul-u--h2">Composants</h2>
                <p>Chaque composant MODUL est accompagné d’une documentation facilitant leur utilisation.</p>
            </m-panel>
            <m-panel tabindex="0">
                <h2 slot="header" class="modul-u--h2">Écosystème</h2>
                <p>l’information spécifique pour s’intégrer facilement à l’écosystème monPortail, tel que qu’un cadre applicatif,
                    des moyens de communication</p>
            </m-panel>
            <m-panel tabindex="0">
                <h2 slot="header" class="modul-u--h2">Normes de développement</h2>
                <p>Optimiser l’intégration des composants MODUL à votre application</p>
            </m-panel>
            <m-panel tabindex="0">
                <h2 slot="header" class="modul-u--h2">Premiers pas</h2>
                <p>Installer et configurer MODUL pour votre application</p>
            </m-panel>
        </div>
    </section>
</div>