<m-flex-template class="modul" :class="{'modul--is-menu-open' : menuOpen, 'modul--is-home-page' : isHome, 'modul--is-black-template' : isBlackHeader, 'modul--is-light-template' : !isBlackHeader}"
    :dynamic-header="false">
    <div slot="header" ref="header" class="modul-header">
        <h1 v-if="isHome" class="modul-logo">
            <router-link to="/">MOD
                <b>UL</b>
                <span class="modul-logo__beta">Beta</span>
            </router-link>
        </h1>
        <span v-if="!isHome" class="modul-logo">
            <router-link to="/">MOD
                <b>UL</b>
                <span class="modul-logo__beta">Beta</span>
            </router-link>
        </span>

        <nav class="modul-header__nav">
            <a href="#" @click.prevent="toggleMobileMenu" v-if="!isMqMinS" class="modul-header__nav__link">
                <m-i18n k="modul:menu-label" v-if="!headerAnimationCompleted"></m-i18n>
                <m-i18n k="modul:close-label" v-if="headerAnimationCompleted"></m-i18n>
            </a>
            <ul v-if="isMqMinS">
                <li>
                    <router-link :to="gettingStarted" class="modul-header__nav__link">
                        <m-i18n k="modul:getting-started"></m-i18n>
                    </router-link>
                </li>
                <li>
                    <a href="#" @click.prevent="showMenu('components')" class="modul-header__nav__link">
                        <m-i18n k="modul:components"></m-i18n>
                    </a>
                </li>
                <li>
                    <a href="#" @click.prevent="showMenu('standards')" class="modul-header__nav__link">
                        <m-i18n k="modul:standards"></m-i18n>
                    </a>
                </li>
                <!-- <li>
                    <router-link :to="ecosystem" class="modul-header__nav__link">
                        <m-i18n k="modul:ecosystem"></m-i18n>
                    </router-link>
                </li> -->
            </ul>
        </nav>

        <button @click="toggleSearch" class="modul-search__open-button m-u--button-primary">
            <m-icon name="search"></m-icon>
        </button>

        <m-sidebar :open="searchOpen" @open="searchOpen = true" @close="searchOpen = false" origin="right" :close-button="false"
            :width="searchWidth" :padding="false">
            <div class="modul-search__header" slot="header">
                <m-icon name="search" svg-title="Rechercher"></m-icon>
                <input type="text" v-model="searchModel" placeholder="Rechercher" value="Rechercher un composant" class="modul-search__header__input">
                <button @click="toggleSearch" class="modul-search__header__close-button m-u--button-primary">
                    <m-icon name="search"></m-icon>
                </button>
            </div>
            <transition-group name="modul--is" tag="ul">
                <li tabindex="0" class="modul-search-card" @click="onComponentClick(item.tag)" @keyup.enter="onComponentClick(item.tag)"
                    v-for="item in searchResult" key="item.tag">
                    <div class="modul-search-card__figure">
                        <!-- <img src=/assets/accordion.png alt="" aria-hidden="true"> -->
                    </div>
                    <div class="modul-search-card__content">

                        <p class="m-u--h4 m-u--no-margin-top">{{ item.text }}</p>
                        <p class="modul-search-card__subtitle">{{ item.category }}</p>
                    </div>
                </li>
            </transition-group>
        </m-sidebar>
    </div>
    <transition name="modul--is">
        <section class="modul-menu" v-if="headerAnimationCompleted" tabindex="0" ref="menu">
            <template v-if="isMqMinS">
                <nav class="modul-menu__list" v-for="category in categoriesComponent" v-if="section == 'components'">
                    <h2 @click="onComponentCategoryClick($event, category)" tabindex="0" class="modul-menu__title modul-u--h2 modul-u--highlighted-title-link">
                        <span>{{category.text}}</span>
                    </h2>
                    <ul>
                        <li v-for="component in getCategoryComponents(category.id)">
                            <a href="#" @click.prevent="onComponentClick(component.tag)" to="/" class="modul-menu__link">
                                <m-i18n :k="component.name" class="modul-menu__label"></m-i18n>
                                <span class="modul-menu__label modul-menu__tag">{{ component.tag }}</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="modul-menu__list" v-for="page in pagesStandards" v-if="section != 'components'">
                    <h2 @click="onPageClick(page, 'standards')" tabindex="0" class="modul-menu__title modul-u--h2 modul-u--highlighted-title-link">
                        <span>{{page.text}}</span>
                    </h2>
                </nav>
            </template>
            <template v-if="!isMqMinS">
                <transition name="modul--is">
                    <nav class="modul-mobile-menu modul--is-first-step" v-if="menuFirstStep">
                        <ul>
                            <li class="modul-mobile-menu__elem">
                                <router-link :to="gettingStarted" class="modul-mobile-menu__elem__link">
                                    <m-i18n k="modul:getting-started"></m-i18n>
                                </router-link>
                            </li>
                            <li class="modul-mobile-menu__elem">
                                <a href="#" @click.prevent="showSecondStep('components')" class="modul-mobile-menu__elem__link">
                                    <m-i18n k="modul:components"></m-i18n>
                                    <m-icon name="right-arrow"></m-icon>
                                </a>
                            </li>
                            <li class="modul-mobile-menu__elem">
                                <a href="#" @click.prevent="showSecondStep('standards')" class="modul-mobile-menu__elem__link">
                                    <m-i18n k="modul:standards"></m-i18n>
                                    <m-icon name="right-arrow"></m-icon>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="modul-mobile-menu modul--is-second-step" v-if="!menuFirstStep">
                        <header class="modul-mobile-menu__header">
                            <m-link mode="button" icon-name="left-arrow" @click="showFirstStep">Menu</m-link>
                        </header>
                        <div class="modul-mobile-menu__body">
                            <m-accordion class="modul-mobile-menu__elem" skin="plein" v-for="category in categoriesComponent" v-if="section == 'components'">
                                <h2 slot="header">
                                    <span @click="onComponentCategoryClick($event, category)">{{category.text}}</span>
                                </h2>
                                <ul>
                                    <li v-for="component in getCategoryComponents(category.id)">
                                        <a href="#" @click.prevent="onComponentClick(component.tag)" to="/" class="modul-menu__link">
                                            <m-i18n :k="component.name" class="modul-menu__label"></m-i18n>
                                            <span class="modul-menu__tag">{{ component.tag }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </m-accordion>
                            <nav v-if="section != 'components'">
                                <ul>
                                    <li v-for="page in pagesStandards" class="modul-mobile-menu__elem">
                                        <a href="#" @click="onPageClick(page, 'standards')" class="modul-mobile-menu__elem__link">
                                            <span>{{page.text}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </transition>
            </template>
        </section>
    </transition>

    <div class="modul-body">
        <router-view></router-view>
    </div>

    <div slot="footer" class="modul-footer">
        <section class="modul-footer__body">
            <div class="modul-footer__logo">
                <span>
                    <m-i18n k="modul:powered-by"></m-i18n>
                    <a class="modul-footer__logo__link" href="https://www.ulaval.ca/" target="_blank">
                        <img :src="logo" alt="l'Université Laval" title="l'Université Laval">
                    </a>
                </span>
            </div>
            <!-- <div class="modul-footer__nav" v-if="isMqMinS">
                <a class="modul-footer__link" href=""><m-i18n k="modul:terms-of-use"></m-i18n></a>
            </div> -->
        </section>
        <section class="modul-footer__version">
            <span class="modul-logo">
                <a href="">MOD<b>UL</b></a>
            </span>
            <span><m-i18n k="modul:version"></m-i18n> 1.0.0-beta.1</span>
        </section>
    </div>
</m-flex-template>