<m-flex-template class="modul" :class="{'modul--is-menu-open' : menuOpen, 'modul--is-home-page' : isBlackHeader, 'modul--is-black-template' : isBlackHeader}" :dynamic-header="false">
    <div slot="header" ref="header" class="modul-header">
        <h1 v-if="isBlackHeader" class="modul-logo">
            <router-link to="/">MOD<b>UL</b></router-link>
        </h1>
        <div v-if="!isBlackHeader" class="modul-logo">
            <router-link to="/">MOD<b>UL</b></router-link>
        </div>
        <nav class="modul-header__nav" v-if="isMqMinS">
            <ul>
                <li>
                    <router-link :to="gettingStarted" class="modul-header__link">
                        <m-i18n k="modul:getting-started"></m-i18n>
                    </router-link>
                </li>
                <!-- <li>
                    <router-link :to="visualStandards" class="modul-header__link">
                        <m-i18n k="modul:visual-standards"></m-i18n>
                    </router-link>
                </li>
                <li>
                    <router-link :to="writingStandards" class="modul-header__link">
                        <m-i18n k="modul:writing-standards"></m-i18n>
                    </router-link>
                </li>
                <li>
                    <router-link :to="codingStandards" class="modul-header__link">
                        <m-i18n k="modul:coding-standards"></m-i18n>
                    </router-link>
                </li> -->
                <li>
                    <a href="#" @click.prevent="showMenu('components')" class="modul-header__link">
                        <m-i18n k="modul:components"></m-i18n>
                    </a>
                </li>
                <li>
                    <a href="#" @click.prevent="showMenu('standards')" class="modul-header__link">
                        <m-i18n k="modul:standards"></m-i18n>
                    </a>
                </li>
                <!-- <li>
                    <router-link :to="ecosystem" class="modul-header__link">
                        <m-i18n k="modul:ecosystem"></m-i18n>
                    </router-link>
                </li> -->
            </ul>
        </nav>

        <m-button @click="toggleSearch" class="modul-header__search">
            <m-icon name="search"></m-icon>
        </m-button>

        <m-sidebar :open="searchOpen" from="right" :width="searchWidth" @open="searchOpen = true" @close="searchOpen = false" @startClose="startCloseSearch" class-name="modul-search-sidebar"
            :paddingBody="false" classNamePortalTarget="modul-search-sidebar">
            <template slot="header">
                <m-icon name="search"></m-icon>
                <input type="text" v-model="searchModel" placeholder="Rechercher" value="Rechercher un composant" class="modul-search-input">
            </template>

            <template slot="body">
                <transition-group name="modul--is" tag="ul">
                    <li tabindex="0" class="modul-search-card" @click="onComponentClick(item.tag)" @keyup.enter="onComponentClick(item.tag)" v-for="item in searchResult" key="item.tag">
                        <div class="modul-search-card__figure">
                            <!-- <img src=/assets/accordion.png alt="" aria-hidden="true"> -->
                        </div>
                        <div class="modul-search-card__content">

                            <p class="m-u--h4 m-u--no-margin-top">{{ item.text }}</p>
                            <p class="modul-search-card__subtitle">{{ item.category }}</p>
                        </div>
                    </li>
                </transition-group>
            </template>
        </m-sidebar>
    </div>
    <transition name="modul--is">
        <nav class="modul-menu" v-if="headerAnimationCompleted && isMqMinS" tabindex="0" ref="menu">
            <template v-if="section == 'components'">
                <ul v-for="category in categoriesComponent" class="modul-menu__list">
                    <li>
                        <h2 @click="onComponentCategoryClick($event, category)" tabindex="0" class="modul-menu__title modul-u--h2 modul-u--highlighted-title">
                            <span>{{category.text}}</span>
                        </h2>
                    </li>
                    <li v-for="component in getCategoryComponents(category.id)">
                        <a href="#" @click.prevent="onComponentClick(component.tag)" to="/" class="modul-menu__link">
                            <m-i18n :k="component.name" class="modul-menu__label"></m-i18n>
                        </a>
                    </li>
                </ul>
            </template>
            <template v-else>
                <ul v-for="page in pagesStandards" class="modul-menu__list">
                    <li>
                        <h2 @click="onPageClick(page)" tabindex="0" class="modul-menu__title modul-u--h2 modul-u--highlighted-title">
                            <span>{{page.text}}</span>
                        </h2>
                    </li>
                 </ul>
            </template>
        </nav>
        <nav class="modul-menu" v-if="headerAnimationCompleted && !isMqMinS" tabindex="0" ref="menu">
            menu mobile
        </nav>
    </transition>

    <div class="modul-body">
        <router-view></router-view>
    </div>

    <div slot="footer" class="modul-footer">
        <div class="modul-footer__body">
            <div class="modul-footer__logo">
                <span>Propulsé par l'université Laval</span>
            </div>
            <div class="modul-footer__nav" v-if="isMqMinS">
                <a class="modul-footer__link" href="">Conditions d'utilisation</a>
            </div>
        </div>
        <div class="modul-footer__version">
            <span class="modul-logo"><a href="">MOD<b>UL</b></a></span>
            <span>version 0.0.1</span>
        </div>
    </div>

</m-flex-template>