<div class="modul" :class="{'modul--menu-is-open' : menuOpen, 'modul--at-home' : isHome}">
    <header ref="header" class="modul-header">
        <h1 class="modul-logo" v-if="isHome">
            <router-link to="/">MOD<b>UL</b></router-link>
        </h1>
        <nav class="modul-header__nav">
            <router-link v-if="!isHome" class="modul-logo" to="/">MOD<b>UL</b></router-link>
            <router-link :to="visualStandards" class="modul-header__link">
                <m-i18n i18n-key="modul:visual-standards"></m-i18n>
            </router-link>
            <router-link :to="writingRules" class="modul-header__link">
                <m-i18n i18n-key="modul:writing-rules"></m-i18n>
            </router-link>
            <a href="#" @click.prevent="showMenu()" class="modul-header__link">
                <m-i18n i18n-key="modul:components"></m-i18n>
            </a>
            <router-link :to="ecosystem" class="modul-header__link">
                <m-i18n i18n-key="modul:ecosystem"></m-i18n>
            </router-link>
        </nav>
        <div class="modul-header__search">
            <m-icon name="search"></m-icon>
        </div>
    </header>

    <main class="modul-body">
        <div class="modul-page">
            <router-view></router-view>
        </div>
    </main>

    <footer class="modul-footer">
        <div class="modul-footer__body">
            <div class="modul-footer__logo">
                <span>Propulsé par l'université Laval</span>
            </div>
            <div class="modul-footer__nav">
                <a class="modul-footer__link" href="">Conditions d'utilisation</a>
            </div>
        </div>
        <div class="modul-version">
            <span class="modul-logo modul-logo--small"><a href="">MOD<b>UL</b></a></span>
            <span>version 0.0.1</span>
        </div>
    </footer>

    <transition name="modul-menu">
        <nav class="modul-menu" v-if="headerAnimationCompleted">
            <ul v-for="category in categories" class="modul-menu__list">
                <li>
                    <span @click="onCategoryClick(category)" class="modul-menu__title modul-u--highlighted-title">
                        <span>{{category.text}}</span>
                    </span>
                </li>
                <li v-for="component in getCategoryComponents(category.id)">
                    <a href="#" @click.prevent="onComponentClick(component.tag)" to="/" class="modul-menu__link">
                        <m-i18n :i18n-key="component.name" class="modul-menu__label"></m-i18n>
                        <!-- <span class="modul-menu__translation">Accordion</span> -->
                    </a>
                </li>
            </ul>
        </nav>
    </transition>
</div>