<div class="modul-demo">
    <div class="m-u--visually-hidden">
        <slot></slot>
    </div>

    <m-spinner v-if="!disponible"></m-spinner>

    <div class="demo-block" v-if="disponible">
        <ul>
            <li><a href="">Preview</a></li>
            <li><a href="">HTML</a></li>
            <li><a href="">JS</a></li>
        </ul>
        <m-dynamic-template class="demo" :template="html"></m-dynamic-template>
        <hr />
        <pre class="html">
            <code v-html="htmlHl"></code>
        </pre>
        <hr />
        <pre class="javascript">
            <code v-html="javascriptHl"></code>
        </pre>
        <hr />
    </div>
</div>
