@import '~@ulaval/modul-components/dist/components/accordion/accordion-transition.scss';
@import '../../styles/shared-styles';

.modul-demo {
    pre {
        margin: 0;
    }

    code {
        color: #fff;
    }

    .demo-block__label-wrapper {
        text-align: right;
        border-bottom: 1px solid $modul-color--grey-dark;
    }

    .demo-block__label {
        margin-top: $m-margin--s;
        font-size: 14px;
        font-weight: 400;
        color: $modul-color--grey-dark;
        text-transform: uppercase;
        background: none;
        border: none;
        cursor: pointer;
    }

    .demo-block__code {
        position: relative;
        padding: $m-margin $m-margin--l;
        background: $modul-color--black-grey-light;
        border: 1px solid $modul-color--grey-dark;
        border-top: none;

        .arrow {
            position: absolute;
            left: 48%;
            bottom: -8px;
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 8px solid $modul-color--black-grey-light;
        }
    }

    .tabs__header {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;

            button {
                padding: $m-margin--xs $m-margin--s;
                margin: 0 $m-margin--s 0 0;
                font-size: 14px;
                font-weight: 400;
                color: $modul-color--grey-dark;
                text-transform: uppercase;
                background: none;
                border: none;
                cursor: pointer;
            }

            &::before {
                content: none;
            }

            &.active,
            &:hover,
            &:focus {
                button {
                    background-color: $modul-color--black-grey;
                    transition: background-color $m-transition-duration ease;
                }
            }
        }
    }

    .tabs__content {
        display: none;

        &.active {
            display: block;
        }

        code {
            white-space: pre-wrap;
        }
    }

    .demo-block__preview {
        padding: $m-margin--l;
        background: $modul-color--grey-light;
    }
}
