@import '../../styles/commons';
@import url('https://fonts.googleapis.com/css?family=Overpass:600,700');

.mw-logo {
    display: flex;
    align-items: center;
    font-size: var(--mw-logo-font-size);
    color: white;
    // font-family: 'Overpass', $m-font-family, sans-serif;

    &.mw-is--large {
        --mw-logo-item-width: 30px;
        --mw-logo-item-border-width: 3px solid white;
        --mw-logo-font-size: 144px;
    }

    &.mw-is--small {
        --mw-logo-item-width: 7px;
        --mw-logo-item-border-width: 1px solid white;
        --mw-logo-font-size: 33px;
    }

    &__title {
        line-height: 0;
        font-size: inherit;
        font-weight: normal;
        margin: 0;
        text-transform: uppercase;
    }

    &__logo {
        border-collapse: collapse;
        border-spacing: 0;
        margin-left: 0.5em;
    }

    &__item {
        height: var(--mw-logo-item-width);
        width: var(--mw-logo-item-width);
        border: var(--mw-logo-item-border-width);
        border-collapse: collapse;
        border-spacing: 0;
        transform-origin: 0 0;
        background-color: m-color(ul, blue);

        &.mw--is-yellow {
            background-color: m-color(ul, yellow);
        }

        &.mw--is-red {
            background-color: transparent;
            border: 0;

            span {
                background-color: m-color(ul, red);
                border: var(--mw-logo-item-border-width);
                display: block;
                bottom: 0.06em;
                left: 0.06em;
                width: inherit;
                height: inherit;
                position: relative;
            }
        }
    }
}
