@import '../../styles/shared-styles';
@import '../../styles/components/do-dont';

$modul-item-size: 157px;

.modul-icon-gallery {
    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        &__search-field {
            transition: flex 0.3s ease;
            margin-right: $m-margin;

            @media (max-width: $m-mq--max--xs) {
                flex: 1 1 auto;
            }

            @media (min-width: $m-mq--min--xs) {
                min-width: 250px;
            }
        }

        &__right-wrapper {
            display: flex;
            align-items: flex-end;
        }

        &__size-field {
            margin-right: $m-margin--l;
        }
    }

    &__body {
        margin-top: $m-padding--l;
        text-align: center;
    }

    &__block,
    &__list {
        padding: 0;
    }

    &__block {
        display: inline-block;
        margin-top: 0;
        column-count: 4;
        column-gap: $m-margin;

        @media (min-width: $m-mq--min--m) {
            column-count: 5;
        }

        .modul-icon-gallery {
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: $modul-item-size;
                width: $modul-item-size;
                border: $m-border-width--s solid $m-color--border;
                -webkit-column-break-inside: avoid;
                break-inside: avoid;
                page-break-inside: avoid;
                margin-bottom: $m-margin;
                cursor: pointer;
            }

            &__label {
                text-align: center;
            }
        }
    }

    &__list {
        width: 100%;

        .modul-icon-gallery {
            &__label {
                margin: 0 0 0 $m-margin--l;
            }
        }
    }

    &__item {
        position: relative;
        list-style: none;
        outline: none;

        &__content {
            display: flex;
            align-content: center;
        }

        &::before {
            display: none;
        }

        &:hover,
        &:focus {
            //
        }
    }

    &__icon {
        padding: $m-padding--s;
        margin-top: $m-margin--l;

        .m-icon {
            color: $modul-color--black-grey;
        }
    }

    &__label {
        margin: 0;
    }

    &__preview {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media (max-width: $m-mq--max--s) {
            position: absolute;
            top: $m-padding;
            right: $m-padding;
            bottom: $m-padding;
            left: $m-padding;
        }

        &__header {
            padding: $m-padding;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex: 1 1 auto;
            background: $m-color--grey-lighter;
            min-height: 100px;

            @media (min-width: $m-mq--min--s) {
                min-height: 230px;
            }
        }

        &__body {
            margin: 0;
            padding: $m-padding;
            background: $m-color--grey-light;
            width: 100%;
        }

        &__footer {
            display: flex;
            align-items: center;
            width: 100%;

            > :first-child {
                margin-right: $m-margin;
            }

            > :last-child {
                margin-left: $m-margin;
            }
        }
    }
}
