<modul-dark-template>
    <span slot="header">
        <h1>
            <m-i18n k="modul:getting-started"></m-i18n>
        </h1>
    </span>
    <span slot="preview">
        <p>modUL permet de démarrer rapidement la création d’une application. La section Démarrer avec modUL fournit l’ensemble des étapes à réaliser pour développer un nouveau projet avec modUL.
        </p>
    </span>
    <span slot="body">
        <m-nav-bar skin="arrow">
            <m-nav-bar-item>Poste de développeur</m-nav-bar-item>
            <m-nav-bar-item>Code source</m-nav-bar-item>
            <m-nav-bar-item>Architecture frontend</m-nav-bar-item>
            <m-nav-bar-item>Suivi des versions</m-nav-bar-item>
        </m-nav-bar>
        <m-accordion></m-accordion>
        <m-accordion></m-accordion>
        <m-accordion></m-accordion>
    </span>
</modul-dark-template>