<div class="modul-ecosystem">
    <section class="modul-ecosystem__header">
        <div class="modul-ecosystem__header-title­">
            <h1>
                <m-i18n k="modul:ecosystem"></m-i18n>
            </h1>
        </div>
    </section>
    <section class="modul-ecosystem__body">
        <header class="modul-ecosystem__body__header">
            <div class="modul-ecosystem__body__header-wrap">
                <p>Aliquip ad eu reprehenderit laborum. Labore exercitation irure non amet qui officia consectetur. Exercitation
                    consectetur do enim non ea cillum laborum tempor adipisicing proident dolor dolore. Minim anim fugiat
                    consectetur tempor irure mollit veniam magna fugiat. Dolore culpa consectetur sit deserunt est veniam
                    mollit officia mollit ut consequat elit laboris.</p>
            </div>
        </header>
        <div class="modul-ecosystem__body__content">
            <div class="modul-ecosystem__body__header-wrap">­
                <m-accordion></m-accordion>
                <m-accordion></m-accordion>
                <m-accordion></m-accordion>
                <h2>Exercitation sint duis</h2>
                <p>Aliquip ad eu reprehenderit laborum. Labore exercitation irure non amet qui officia consectetur. Exercitation
                    consectetur do enim non ea cillum laborum tempor adipisicing proident dolor dolore. Minim anim fugiat
                    consectetur tempor irure mollit veniam magna fugiat. Dolore culpa consectetur sit deserunt est veniam
                    mollit officia mollit ut consequat elit laboris.</p>
                <p>Aliquip ad eu reprehenderit laborum. Labore exercitation irure non amet qui officia consectetur. Exercitation
                    consectetur do enim non ea cillum laborum tempor adipisicing proident dolor dolore. Minim anim fugiat
                    consectetur tempor irure mollit veniam magna fugiat. Dolore culpa consectetur sit deserunt est veniam
                    mollit officia mollit ut consequat elit laboris.</p>
                <p>Aliquip ad eu reprehenderit laborum. Labore exercitation irure non amet qui officia consectetur. Exercitation
                    consectetur do enim non ea cillum laborum tempor adipisicing proident dolor dolore. Minim anim fugiat
                    consectetur tempor irure mollit veniam magna fugiat. Dolore culpa consectetur sit deserunt est veniam
                    mollit officia mollit ut consequat elit laboris.</p>
                <h3>Excepteur id aute eiusmod tempor</h3>
                <p>Aliquip ad eu reprehenderit laborum. Labore exercitation irure non amet qui officia consectetur. Exercitation
                    consectetur do enim non ea cillum laborum tempor adipisicing proident dolor dolore. Minim anim fugiat
                    consectetur tempor irure mollit veniam magna fugiat. Dolore culpa consectetur sit deserunt est veniam
                    mollit officia mollit ut consequat elit laboris.</p>
                <p>Aliquip ad eu reprehenderit laborum. Labore exercitation irure non amet qui officia consectetur. Exercitation
                    consectetur do enim non ea cillum laborum tempor adipisicing proident dolor dolore. Minim anim fugiat
                    consectetur tempor irure mollit veniam magna fugiat. Dolore culpa consectetur sit deserunt est veniam
                    mollit officia mollit ut consequat elit laboris.</p>
                <h3>Sint sunt duis ad non nisi</h3>
                <p>Aliquip ad eu reprehenderit laborum. Labore exercitation irure non amet qui officia consectetur. Exercitation
                    consectetur do enim non ea cillum laborum tempor adipisicing proident dolor dolore. Minim anim fugiat
                    consectetur tempor irure mollit veniam magna fugiat. Dolore culpa consectetur sit deserunt est veniam
                    mollit officia mollit ut consequat elit laboris.</p>
                <p>Aliquip ad eu reprehenderit laborum. Labore exercitation irure non amet qui officia consectetur. Exercitation
                    consectetur do enim non ea cillum laborum tempor adipisicing proident dolor dolore. Minim anim fugiat
                    consectetur tempor irure mollit veniam magna fugiat. Dolore culpa consectetur sit deserunt est veniam
                    mollit officia mollit ut consequat elit laboris.</p>
                <p>Aliquip ad eu reprehenderit laborum. Labore exercitation irure non amet qui officia consectetur. Exercitation
                    consectetur do enim non ea cillum laborum tempor adipisicing proident dolor dolore. Minim anim fugiat
                    consectetur tempor irure mollit veniam magna fugiat. Dolore culpa consectetur sit deserunt est veniam
                    mollit officia mollit ut consequat elit laboris.</p>
            </div>
        </div>
    </section>
</div>