@import '../../styles/shared-styles';

$w-sidebar-max-width: 360px;
$w-sidebar-max-width--s: 100%;

$w-content-padding-top: 60px;
$w-content-padding-bottom: 120px;
$w-content-max-width: $modul-max-width;

// @mixin transitionAll() {
//     transition: all 0.3s ease-out;
// }

.w-website-standards {
    display: flex;
    width: 100%;
    box-sizing: border-box;

    &__sidemenu {
        flex-shrink: 0;
        width: 0;
        transition: width 0.3s ease-in;
        overflow-x: hidden;

        &.is-displayed {
            width: $w-sidebar-max-width;
            transition: width 0.3s ease-out;
        }

        .router-link-active {
            span::before {
                content: "-";
            }
        }
    }

    &__conteneur {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__content {
        margin: $w-content-padding-top auto $w-content-padding-bottom;
        max-width: $w-content-max-width;
    }
}
