@import '../../styles/shared-styles';

$w-sidebar-max-width: 360px;
$w-sidebar-max-width--s: 100%;

$w-content-padding-top: 60px;
$w-content-padding-bottom: 120px;
$w-content-max-width: $modul-max-width;

.w-website-standards {
    display: flex;
    width: 100%;
    box-sizing: border-box;

    &__sidemenu {
        position: relative;
        background-color: #f4f4f4;
        flex-shrink: 0;
        width: 0;
        transition: width 0.3s ease-in;
        overflow-x: hidden;

        &-content {
            padding: 32px;
        }

        &-title {
            font-size: $m-font-size--l;
            text-transform: uppercase;
            font-weight: $m-font-weight--black;
            margin-bottom: 5px;
        }

        &-sub-title {
            font-size: $m-font-size--l;
            font-weight: $m-font-weight--black;
        }

        &-sub-items {
            margin-top: 8px;
        }

        &-item {
            a {
                display: block;
                height: 50px;
                line-height: 50px;
                padding-left: 16px;
                border-left: 2px solid $m-color--grey-light;
                margin-left: 1px;
                font-size: $m-font-size;
                font-weight: $m-font-weight;
                text-decoration: none;
                color: $m-color--text;

                &:hover {
                    font-weight: $m-font-weight--bold;
                }

                &.router-link-active {
                    font-weight: $m-font-weight--black;
                    border-left: 4px solid $m-color--ul-yellow;
                    margin-left: 0;
                }
            }
        }

        &-close {
            @media (min-width: $m-mq--min--m) {
                display: none;
            }

            top: 16px;
            right: 16px;
            position: absolute;
        }

        &.is-displayed {
            width: 100%;

            @media (min-width: $m-mq--min--m) {
                width: $w-sidebar-max-width;
            }

            transition: width 0.3s ease-out;
        }
    }

    &__conteneur {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;

        &.is-menu {
            @media (max-width: $m-mq--max--m) {
                width: 0;
                overflow-x: hidden;
            }
        }

        &-close {
            top: 16px;
            left: 16px;
            position: absolute;
        }

        &-content {
            margin: $w-content-padding-top auto $w-content-padding-bottom;
            padding-left: 16px;
            padding-right: 16px;
            max-width: $w-content-max-width - 32px;
        }
    }
}
