@import '../../styles/shared-styles';

.modul-page-details {
    background-color: $m-color--white;

    .m-navbar {
        margin: 0 auto;
        max-width: $modul-max-width;
        padding: 0 4px; // Magic number

        @media (min-width: $m-mq--min--s) {
            padding: 0 20px; // Magic number
        }
    }

    &__body {
        margin: 0 auto;
        max-width: $modul-max-width;
        padding: $m-margin $m-padding $m-padding $m-padding;

        @media (min-width: $m-mq--min--s) {
            padding: $m-padding $m-padding--l $m-padding--l;
        }
    }
}
