<div class="modul-page-details">
    <div class="modul-page" v-if="page">
        <!-- <router-link v-for="tab in tabs" :to="tab.id" class="modul-component-details__link">
                <m-i18n k="tab.id"></m-i18n>
            </router-link> -->
        <div class="modul-u--nav-bar">
            <m-nav-bar skin="arrow">
                <m-nav-bar-item>
                    <router-link :to="overview" class="modul-u--nav-bar__item">
                        <m-i18n k="modul:overview"></m-i18n>
                    </router-link>
                </m-nav-bar-item>
                <m-nav-bar-item>
                    <router-link :to="properties" class="modul-u--nav-bar__item">
                        <m-i18n k="modul:attributes"></m-i18n>
                    </router-link>
                </m-nav-bar-item>
            </m-nav-bar>
        </div>

        <div class="modul-page-details__body">
            <router-view></router-view>
        </div>
    </div>
</div>