<div class="modul-page-details">
    <div class="modul-page" v-if="page">

        <div class="modul-u--nav-bar">
            <m-nav-bar skin="arrow" :value="currentTab">
                <m-nav-bar-item :value="tab" v-for="tab in tabs" @click="onClick(tab)">
                    <router-link :to="getRoute(tab)" class="modul-u--nav-bar__item">
                        <m-i18n :k="getKey(tab)"></m-i18n>
                    </router-link>
                </m-nav-bar-item>
            </m-nav-bar>
        </div>

        <div class="modul-page-details__body">
            <router-view></router-view>
        </div>
    </div>
</div>