<modul-dark-template>
    <h1 slot="header" v-if="showNav">
        <m-dropdown v-if="isMqMinS" class="modul-u--dropdown-dark" v-model="selectedPage" @open="onOpen" @close="onClose" width="auto">
            <m-dropdown-item v-for="page in pages" :value="page" :label="getPageName(page)"></m-dropdown-item>
        </m-dropdown>
        <template v-if="!isMqMinS">{{ getPageName(selectedPage) }}</template>
    </h1>
    <h1 class="modul-dark-template__header__title" slot="header" v-if="!showNav"> {{ getPageName(pages[0]) }}</h1>
    <m-markdown slot="introduction" :template="summaryMarkdown"></m-markdown>
    <button slot="leftArrow" v-if="showNav" @click="getPreviousPage()" class="m-u--button-primary">
        <m-icon name="left-arrow"></m-icon>
        <!-- TODO:i18n <span class="m-u--visually-hidden">Naviguer vers la page précédente</span> -->
    </button>
    <button slot="rightArrow" v-if="showNav" @click="getNextPage()" class="m-u--button-primary">
        <m-icon name="right-arrow"></m-icon>
        <!-- TODO:i18n <span class="m-u--visually-hidden">Naviguer vers la prochaine page</span> -->
    </button>
    <router-view></router-view>
</modul-dark-template>