<div class="modul-website__header mw-header">

    <!-- <h1 v-if="isHomePage"
            class="modul-logo">
            <a href
               @click.prevent="navigateTo($event, 'home')">MOD
                <b>UL</b>
            </a>
        </h1>

        <span v-if="!isHomePage"
              class="modul-logo">
            <a href
               @click.prevent="navigateTo($event, 'home')">MOD
                <b>UL</b>
            </a>
        </span> -->

    <a href
       @click.prevent="toggleMobileMenu"
       v-if="!isMqMinS"
       class="mw-header__link">
        <m-i18n k="modul:menu-label"
                v-if="!headerAnimationCompleted"></m-i18n>
        <m-i18n k="modul:close-label"
                v-if="headerAnimationCompleted"></m-i18n>
    </a>
    <nav>
        <ul class="mw-header__item"
            v-if="isMqMinS">
            <li>
                <a href
                   @click.prevent="navigateTo($event, 'philosophy')"
                   class="mw-header__link">
                    <m-i18n k="website:philosophy"></m-i18n>
                </a>
            </li>
            <li>
                <a href
                   @click.prevent="navigateTo($event, 'components')"
                   class="mw-header__link">
                    <m-i18n k="modul:components"></m-i18n>
                </a>
            </li>
            <li>
                <a href
                   @click.prevent="navigateTo($event, 'standards')"
                   class="mw-header__link">
                    <m-i18n k="modul:standards"></m-i18n>
                </a>
            </li>
        </ul>
    </nav>

    <div class="mw-header__item">

        <a href="https://github.com/ulaval/modul-components/releases"
           class="mw-header__link"
           target="_blank">
            <m-i18n k="modul:version"></m-i18n> {{modulVersion}}
        </a>

        <button @click="toggleSearch"
                class="modul-search__open-button m-u--button-primary">
            <m-icon name="m-svg__search"></m-icon>
        </button>
    </div>

</div>
