@import '../../styles/commons';

.mw-header {
    // menu opening animation
    transition: background-color #{$modul-CSS_ANIMATION_HEADER_DURATION} ease;
    height: $modul-header--height--s;
    background: $modul-color--black-grey-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $m-padding;

    @media (min-width: $m-mq--min--xs) {
        height: $modul-header--height;
    }

    @media (min-width: $m-mq--min--s) {
        padding-left: $m-padding--l;
    }

    &__item {
        display: flex;
        align-items: inherit;
    }

    &__link {
        font-weight: $m-font-weight--black;
        text-transform: uppercase;
        text-decoration: none;
        transition: color #{$modul-CSS_ANIMATION_HEADER_DURATION} ease;
        outline: none;
        margin-right: $m-margin--l;

        &,
        &:visited {
            color: $modul-color--grey-dark;
        }

        &:hover,
        &:focus,
        &.router-link-active {
            color: $m-color--white;
        }

        &.router-link-active::after {
            background-color: $m-color--active;
        }

        &:hover::after {
            background-color: $m-color--black;
        }
    }
}

.modul-logo {
    font-size: 20px;
    flex: 1;
    user-select: none;
    margin: 0;
    transition: color #{$modul-CSS_ANIMATION_HEADER_DURATION} ease;

    &,
    a,
    a:visited {
        text-decoration: none;
        font-weight: $m-font-weight;
        color: $modul-color--black-grey-dark;
    }

    b {
        font-weight: $m-font-weight--black;
        color: $modul-color--black-grey-dark;
    }

    a {
        display: inline-flex;
        align-items: center;
    }

    &__beta {
        display: inline-flex;
        align-items: center;
        height: 12px; // Magic number
        margin-left: $m-margin--s;
        text-transform: uppercase;
        font-size: 8px; // Mafic number
        font-weight: $m-font-weight--black;
        color: $modul-color--black-grey-dark;
        background: $m-color--ul-yellow;
        padding: 2px 3px;
    }
}
