@import '../../../../styles/shared-styles';

.website-standards-ui-colors {
    width: 100%;
    background-color: $m-color--white;

    &__body {
        margin: 0 auto;
        max-width: $modul-max-width;
        padding: $m-margin $m-padding $m-padding--l $m-padding;

        @media (min-width: $m-mq--min--s) {
            padding: $m-padding $m-padding--l $m-padding--xl $m-padding--l;
        }

        // &.modul--no-mavbar {
        //     padding-top: $m-padding--l;
        // }
    }
}
