@import '../../styles/shared-styles';

$modul-light-header--height: calc(50vh - #{$modul-header--height});
$modul-light-header--min-height: 250px;

.modul-component-page {
    width: 100%;
    margin: 0 auto;
    max-width: $m-max-width - $m-padding--xl;
    padding: 0 $m-padding--l $m-padding--l*2 $m-padding--l;

    &::before {
        content: '';
        display: block;
        height: $modul-light-header--height;
        min-height: $modul-light-header--min-height;
    }

    .modul-light-header {
        &__wrap {
            position: fixed;
            top: $modul-header--height;
            right: 0;
            bottom: 0;
            left: 0;
            min-width: $m-min-width;
            z-index: 0;
            width: 100%;
            max-width: $m-max-width;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $modul-light-header--height;
            min-height: $modul-light-header--min-height;
        }

        &__arrow-left,
        &__arrow-right {
            position: fixed;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            height: 100%;

            .m-button.m-button.m-button {
                width: $m-padding--l;
                height: 52px; // Magic number
                font-size: 14px;
                stroke-width: 2px;
                border-radius: 0;
                padding: 0;
                transform-origin: 50%;

                .m-u--visually-hidden {
                    position: absolute;
                }

                .m-icon {
                    transition: 0.45s transform ease;
                }
            }
        }

        &__arrow-left {
            left: 0;

            .m-button {
                &:hover {
                    .m-icon {
                        transform: rotate(-360deg);
                    }
                }
            }
        }

        &__arrow-right {
            right: 0;

            .m-button {
                &:hover {
                    .m-icon {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        .modul-back-link {
            position: fixed !important;
            top: $modul-header--height;
            left: 0;
            z-index: 2;
            margin-top: $m-padding;
            margin-left: $m-padding--l;
        }
    }

    .modul-component-page__body {
        position: relative;
        z-index: 3;

        &__container {
            background-color: $m-color--white;
            position: relative;
            z-index: 3;
            box-shadow: $m-box-shadow;
        }
    }
}

