<section class="modul-component-page">
    <header class="modul-light-header" :style="{'zIndex' : zIndex}">
        <span class="modul-back-link" v-if="hasBackLink">
            <slot name="backlink"></slot>
        </span>
        <div class="modul-light-header__wrap">
            <div ref="dropdown" class="modul-light-header__title" v-if="hasHeader">
                <slot name="header"></slot>
            </div>
            <div v-else>
                <h1>{{ defaultTitle }}</h1>
            </div>
        </div>
        <div class="modul-light-header__arrow-left" v-if="hasLeftArrow">
            <slot name="leftArrow"></slot>
        </div>
        <div class="modul-light-header__arrow-right" v-if="hasRightArrow">
            <slot name="rightArrow"></slot>
        </div>
    </header>
    <div class="modul-component-page__body">
        <transition name="slide-fade" mode="out-in" appear>
            <div class="modul-component-page__body__container" v-if="hasBody">
                <slot name="body"></slot>
            </div>
            <div class="modul-component-page__body__container" v-else>
                <m-panel>
                    <h2>{{ bodyMessage }}</h2>
                    <p>Laborum et velit consectetur mollit fugiat culpa commodo aliquip exercitation mollit esse aliqua consectetur.
                        Sint veniam exercitation magna id cillum sunt aliqua et ullamco quis. Ullamco fugiat cillum esse
                        culpa minim consequat enim. Et et est ut anim anim irure tempor laboris cillum qui do do pariatur.
                        Ipsum nisi sit occaecat do excepteur deserunt est nulla. Amet mollit est excepteur labore fugiat
                        sint sit non et non labore adipisicing id.</p>
                    <p>Laborum et velit consectetur mollit fugiat culpa commodo aliquip exercitation mollit esse aliqua consectetur.
                        Sint veniam exercitation magna id cillum sunt aliqua et ullamco quis. Ullamco fugiat cillum esse
                        culpa minim consequat enim. Et et est ut anim anim irure tempor laboris cillum qui do do pariatur.
                        Ipsum nisi sit occaecat do excepteur deserunt est nulla. Amet mollit est excepteur labore fugiat
                        sint sit non et non labore adipisicing id.</p>
                    <p>Laborum et velit consectetur mollit fugiat culpa commodo aliquip exercitation mollit esse aliqua consectetur.
                        Sint veniam exercitation magna id cillum sunt aliqua et ullamco quis. Ullamco fugiat cillum esse
                        culpa minim consequat enim. Et et est ut anim anim irure tempor laboris cillum qui do do pariatur.
                        Ipsum nisi sit occaecat do excepteur deserunt est nulla. Amet mollit est excepteur labore fugiat
                        sint sit non et non labore adipisicing id.</p>
                    <p>Laborum et velit consectetur mollit fugiat culpa commodo aliquip exercitation mollit esse aliqua consectetur.
                        Sint veniam exercitation magna id cillum sunt aliqua et ullamco quis. Ullamco fugiat cillum esse
                        culpa minim consequat enim. Et et est ut anim anim irure tempor laboris cillum qui do do pariatur.
                        Ipsum nisi sit occaecat do excepteur deserunt est nulla. Amet mollit est excepteur labore fugiat
                        sint sit non et non labore adipisicing id.</p>
                    <p>Laborum et velit consectetur mollit fugiat culpa commodo aliquip exercitation mollit esse aliqua consectetur.
                        Sint veniam exercitation magna id cillum sunt aliqua et ullamco quis. Ullamco fugiat cillum esse
                        culpa minim consequat enim. Et et est ut anim anim irure tempor laboris cillum qui do do pariatur.
                        Ipsum nisi sit occaecat do excepteur deserunt est nulla. Amet mollit est excepteur labore fugiat
                        sint sit non et non labore adipisicing id.</p>
                    <p>Laborum et velit consectetur mollit fugiat culpa commodo aliquip exercitation mollit esse aliqua consectetur.
                        Sint veniam exercitation magna id cillum sunt aliqua et ullamco quis. Ullamco fugiat cillum esse
                        culpa minim consequat enim. Et et est ut anim anim irure tempor laboris cillum qui do do pariatur.
                        Ipsum nisi sit occaecat do excepteur deserunt est nulla. Amet mollit est excepteur labore fugiat
                        sint sit non et non labore adipisicing id.</p>
                </m-panel>
            </div>
        </transition>
    </div>
</section>