<div class="modul-dark-template">
    <header class="modul-dark-template__header">
        <span class="modul-dark-template__header__back-link" v-if="hasBacklink">
            <slot name="backlink"></slot>
        </span>
        <div class="modul-dark-template__header__title­">
            <template v-if="hasHeader">
                <slot name="header"></slot>
            </template>
            <h1 v-else>{{ defaultTitle }}</h1>
        </div>
    </header>
    <!-- <nav class="modul-dark-template__arrow"> -->
        <div class="modul-dark-template__arrow-left" v-if="hasLeftArrow">
            <slot name="leftArrow"></slot>
        </div>
        <div class="modul-dark-template__arrow-right" v-if="hasRightArrow">
            <slot name="rightArrow"></slot>
        </div>
    <!-- </nav> -->
    <section class="modul-dark-template__intro">
        <div class="modul-dark-template__intro-wrap">
            <slot name="introduction"></slot>
        </div>
    </section>
    <section class="modul-dark-template__body">
        <slot></slot>
    </section>
</div>