html,
body,
.modul-body,
.m-flex-template__header.m-flex-template__header {
    background: $modul-color--body;
}

.m-flex-template__page__body {
    display: flex;
    flex-direction: column;
}

.modul-body {
    flex: 1 1 auto;
}

.modul-container,
.modul {
    height: 100%;
}

.test {
    background-color: gray !important;
    color: yellow !important;
}

.test2 {
    background-color: pink !important;
    color: #000 !important;
}
