html,
body,
.modul-body {
    background: $modul-color--body;
}

.m-flex-template.m-flex-template {
    &.modul--is-black-template {
        &,
        .m-flex-template__header.m-flex-template__header {
            background: $modul-color--body-dark;
        }
    }

    &.modul--is-light-template {
        &,
        .m-flex-template__header.m-flex-template__header {
            background: $modul-color--body;
        }
    }
}

.m-flex-template__page__body {
    display: flex;
    flex-direction: column;
}

.modul-body {
    flex: 1 1 auto;
}

.modul-container,
.modul {
    height: 100%;
}

.test {
    background-color: gray !important;
    color: yellow !important;
}

.test2 {
    background-color: pink !important;
    color: #000 !important;
}
