.modul-u--icon-component--dark {
    fill: $modul-color--black-grey-dark;
}

.modul-u--icon-component {
    fill: $modul-color--black-grey-dark;
    opacity:0.5;
}

.modul-u--icon-component--light {
    fill: $modul-color--black-grey-dark;
    opacity:0.3;
}