.modul-u--nav-bar {
    position: relative;
    border-top: $m-border-width--l solid $m-color--ul-yellow;

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        content: '';
        height: 1px;
        background: $m-color--grey;
    }

    .m-nav-bar {
        position: relative;
        z-index: 1;

        &__wrap {
            background: $m-color--white;
        }

        .m-nav-bar-item.m--is-selected .modul-u--nav-bar__item {
            color: $modul-color--black-grey-dark;
        }
    }

    &__item {
        padding: 20px 12px; //Magic Number
        font-weight: $m-font-weight--black;
        font-size: $m-font-size--s;
        text-transform: uppercase;
        color: $modul-color--grey-dark;
        transition: color $m-transition-duration;

        &:hover,
        &:focus {
            color: $modul-color--grey-darker;
        }
    }
}
