// ======================================================================
//  Titles
// ======================================================================

.modul-u--h1,
.modul-u--h2,
.modul-u--h3,
.modul-u--h4,
.modul-u--h5 {
    color: $modul-color--black-grey-dark;
    font-weight: $m-font-weight--black;
    line-height: 1.2;
    text-transform: uppercase;
}

.modul-u--h4,
.modul-u--h5,
.modul-u--h6 {
    margin: $m-margin--l 0 0 0;
}

.modul-u--h1 {
    font-size: $m-font-size--h1;
    margin: 0;
}

.modul-u--h2 {
    font-size: 22px;
    margin: $m-padding--l 0 0 0;
}

.modul-u--h3 {
    font-size: 20px;
    margin: $m-padding--l 0 0 0;
}

.modul-u--h4 {
    font-size: 18px;
}

.modul-u--h5,
.modul-u--h6 {
    font-size: 16px;
}

// ======================================================================
//  links
// ======================================================================

.modul-u--highlighted-title {
    margin: 0;
    color: $m-color--white;
    position: relative;
    text-decoration: none;

    &::before {
        content: "";
        display: block;
        margin-bottom: $m-padding;
        width: 32px;
        height: 4px;
        background-color: $modul-color--yellow;
    }
}
