// ======================================================================
//  Titles
// ======================================================================

.modul-u--h1,
.modul-u--h2,
.modul-u--h3,
.modul-u--h4,
.modul-u--h5 {
    color: $modul-color--black-grey-dark;
    font-weight: $m-font-weight--black;
    line-height: 1.2;
}

.modul-u--h4,
.modul-u--h5,
.modul-u--h6 {
    margin: $m-margin--l 0 0 0;
}

.modul-u--h1 {
    font-size: $m-font-size--h1;
    margin: 0;
    text-transform: uppercase;
}

.modul-u--h2 {
    font-size: 22px;
    margin: $m-padding--l 0 0 0;
    text-transform: uppercase;
}

.modul-u--h3 {
    font-size: 20px;
    margin: $m-padding--l 0 0 0;
}

.modul-u--h4 {
    font-size: 18px;
}

.modul-u--h5,
.modul-u--h6 {
    font-size: 16px;
}

.modul-markdown {
    > :first-child {
        &,
        > :first-child {
            margin-top: 0;
        }
    }
}

.modul-page-tab,
.modul-component-overview {
    ul {
        margin: $m-margin 0 0 0;

        @include m-bullet-list();
    }

    h1,
    h2,
    h3,
    h4 {
        color: $modul-color--black-grey-dark;
    }

    h1,
    h2 {
        text-transform: uppercase;
        font-weight: $m-font-weight--black;
        font-size: 22px;

        + h2,
        + h3,
        + h4,
        + h5,
        + h6 {
            margin-top: 12px;
        }
    }

    h3 {
        font-size: 20px;

        + h4,
        + h5,
        + h6 {
            margin-top: 12px;
        }
    }

    h4 {
        font-size: 18px;

        + h5,
        + h6 {
            margin-top: 12px;
        }
    }

    table {
        margin-top: $m-margin;

        @include m-table();
    }
}

// ======================================================================
//  links
// ======================================================================

.modul-u--highlighted-title {
    @include modul-highlighted-title();
}

.modul-u--highlighted-title-link {
    cursor: pointer;
    outline: none;

    @include modul-highlighted-title();

    &:active {
        outline: none;
    }

    &:hover,
    &:focus {
        &::before {
            width: 64px; // Magic number
        }
    }

    &::before {
        transition: width 0.3s ease;
    }
}
