// ======================================================================
//  Titles
// ======================================================================

h1,
h2,
h3,
h4,
h5,
.modul-u--h1,
.modul-u--h2,
.modul-u--h3,
.modul-u--h4,
.modul-u--h5 {
    color: $modul-color--grey--darker;
    font-weight: $m-font-weight--black;
    line-height: 1;
    text-transform: uppercase;
}

h4,
h5,
h6,
.modul-u--h4,
.modul-u--h5,
.modul-u--h6 {
    margin: $m-margin--l 0 0 0;
}

h1,
.modul-u--h1 {
    font-size: $m-font-size--h1;
    margin: 0;
}

h2,
.modul-u--h2 {
    font-size: 18px;
    margin: $m-padding--l 0 0 0;
}

h3,
.modul-u--h3 {
    font-size: $m-font-size--h3;
    margin: $m-padding--l 0 0 0;
}

h4,
.modul-u--h4 {
    font-size: $m-font-size--h4;
}

h5,
.modul-u--h5 {
    font-size: $m-font-size--h5;
}

h6,
.modul-u--h6 {
    font-weight: $m-font-weight--regular;
    font-size: $m-font-size--h6;
    line-height: 1;
}

// ======================================================================
//  links
// ======================================================================


.modul-u--highlighted-title {
    margin: 0;
    position: relative;
    color: $m-color--white;
    text-transform: uppercase;
    text-decoration: none;

    &::before {
        content: "";
        display: block;
        margin-bottom: 16px;
        width: 32px;
        height: 4px;
        background-color: $modul-color--yellow;
    }
}